<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="RemoveNotSeoul" value="false" />
    <add key="RemoveNotGG" value="false" />
    <add key="RemoveNotNearByRegion" value="true" />
    <add key="RemoveRegistPassed" value="true" />
    <add key="RemoveRegistDateNotSpecified" value="false" />
  </appSettings>
</configuration>