<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="resultDirectory" value="${basedir}/results/"/>
  <targets async="true">
    <target xsi:type="File" name="logFile" fileName="${resultDirectory}log_${shortdate}.txt" encoding="utf-8" />
    <target xsi:type="File" name="resultFile" fileName="${resultDirectory}result_${shortdate}.txt" layout="${message}" encoding="utf-8" />
    <target xsi:type="File" name="deployFile" fileName="${basedir}/index.html" layout="${message}&lt;br /&gt;" encoding="utf-8" />
    <target xsi:type="File" name="onlyDeployFile" fileName="${basedir}/index.html" layout="${message}" encoding="utf-8" />
    <target xsi:type="ColoredConsole" name="console" />
  </targets>

  <rules>
    <logger name="DefaultLogger" writeTo="console" />
    <logger name="DefaultLogger" level="Info" writeTo="resultFile,deployFile" />
    <logger name="DefaultLogger" writeTo="logFile" />
    <logger name="DeployLogger" writeTo="onlyDeployFile" />
  </rules>
</nlog>