<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="resultDirectory" value="${basedir}/results/"/>
  <targets async="true">
    <target xsi:type="File" name="logFile" fileName="${resultDirectory}log_${shortdate}.txt" />
    <target xsi:type="File" name="resultFile" fileName="${resultDirectory}result_${shortdate}.txt" layout="${message}" />
    <target xsi:type="ColoredConsole" name="console" />
  </targets>

  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" level="Info" writeTo="resultFile" />
    <logger name="*" writeTo="logFile" />
  </rules>
</nlog>